@model IEnumerable<HomeCorner2.Models.House>
@{

    ViewBag.Title = "Home Page";

    var greetings = "";
    DateTime dayTime = DateTime.Now;
    DateTime noonTime = DateTime.Parse("12:00");

    if (DateTime.Compare(dayTime, noonTime) >= 0)
    {
        greetings = "Good Evening!";
    }
    else
    {
        greetings = "Good Morning!";

    }

    Random rnd = new Random();
    int randomText = rnd.Next(0, 3);

    string[] welcomeText = {
"Grab your dreams and let's explore the northern Greece!",
"It's time for a new adveture in northern Greece!",
"Are you ready to explore your next destination? Let's start looking for a place for you to stay!"
};
}
<div class="jumbotron jumbotron-background mt-4">
    <div id="greetings-home-message">
        @greetings
        <p>
            @welcomeText[randomText]
        </p>
    </div>
</div>
<div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-6 d-flex justify-content-center mb-md-3 mb-sm-3 mb-3">
                <div class="card home-cards h-100">
                    <div class="card-avatar card-img-top">
                        <img class="card-img-top" src="..\HouseImages\@item.ImageName" alt="@item.Title">
                    </div>
                    <div class="card-body card-block d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price)€</p>
                        <input type="button" class="btn btn-dark btn-block mt-auto" value="More Details" onclick="redirectToDetails(@item.Id);" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-3">
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-2"></div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-8 col-8">
            @Html.ActionLink("Book Now!", "Search", "Houses", new { area = "" }, new { InputType = "button", @class = "btn btn-block btn-dark" })
            @*<input type="button" class="btn btn-block btn-dark" value="Book Now!" onclick="@Html.ActionLink("AboutUs", "Home")" />*@
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-2"></div>
    </div>
</div>
<script>
    function redirectToDetails(houseId) {
        document.location = '../Houses/Details/' + houseId;
    }
</script>
