@model IEnumerable<HomeCorner2.Models.ApplicationUser>
@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<p>
    <h2> <span class="float-right">Users</span></h2>
</p>
<hr />

<table id="users" class="table">
    <thead>
        <tr class="titles">
            <th>
                User Full Name
            </th>
            <th>
                User Email
            </th>
            <th>
                Username
            </th>
            <th>
                User Address
            </th>
            <th>
                User Phone
            </th>
            <th>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YourUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.TK)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "UserDetails", new { id = item.Id }) |*@
                    <button type="button" class="btn btn-outline-danger btn-sm show-delete-modal-button" data-url="@Url.Action("DeleteUser", "Account", new { id = item.Id}, Request.Url.Scheme)">Delete</button>
                    @*<button class="btn btn-outline-danger delete-user-button" onclick="location.href='@Url.Action("DeleteUser", "Account", new { id = item.Id})'">Delete</button>*@
                    @*<button class="btn btn-danger delete-user-button" data-url="Account/Delete/DeleteUser/@item.Id">Delete</button>*@
                    @*<input type="button" value="Go Somewhere Else" onclick="location.href='@Url.Action("DeleteUser", "Account", new { id = item.Id})'" />*@
                </td>
            </tr>
        </tbody>
    }
</table>



<div class="container">
    <!-- The Modal -->
    <div class="modal" id="deleteUserModal" data-url="">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title titles">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure about deleting this User?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn danger-button delete-user-button">Yes</button>
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <script>
        var $deleteToggleButton = $('.show-delete-modal-button');
        var $deleteUserModal = $('#deleteUserModal');

        $(document).ready(function (event) {
            $deleteToggleButton.on('click', function(event) {
                event.preventDefault();
                $deleteUserModal.data('url', $(this).data('url'));
                $deleteUserModal.modal('show');
            });

            $('.delete-user-button').on('click', function (event)
    {
                event.preventDefault();

                var request = $.ajax({
                    url: $deleteUserModal.data('url'),
                    method: 'POST',
                    data:
                    {
                        '__RequestVerificationToken': '@TokenHeaderValue()'
                    },
                    dataType: 'json',

                });
                request.done(function(data, textStatus, jqXHR) {
                    if (data.Status == 'ok')
                    {
                        alert('Deleted successfully.');
                        location.reload();
                    }
                    else
                    {
                        alert(data.Error);
                    }
                });
                request.fail(function(jqXHR, textStatus, errorThrown) {
                    alert('Request failed: ' + textStatus);
                });
            });
        });
    </script>
}