@using Microsoft.AspNet.Identity
<link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Caveat|Cedarville+Cursive|Chewy|Shadows+Into+Light|Gloria+Hallelujah|Quicksand|Gloria+Hallelujah" rel="stylesheet">
@if (Request.IsAuthenticated)
{
    ViewBag.Title = "_LoggedInLayout";

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">

            <li>@Html.ActionLink("Search A Corner", "Search", "Houses", null, new { @class = "btn text-white" })</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="user-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn text-white", title = "Manage" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("My Reservations", "MyReservations", "Houses", null, new { @class = "btn text-white" })
                    @Html.ActionLink("My Houses", "MyHouses", "Houses", null, new { @class = "btn text-white" })
                </div>
            </li>
            @if (User.IsInRole("CanManageHouses"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="admin-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("All Users", "Users", "Home", null, new { @class = "btn text-white" })
                        @Html.ActionLink("All Houses", "Index", "Houses", null, new { @class = "btn text-white", id = "all-houses-button" })
                        @Html.ActionLink("All Reservations", "Reservations", "Houses", null, new { @class = "btn text-white" })
                    </div>
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn text-danger" role="button">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn text-white" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn text-white" })</li>
    </ul>
}
