@model HomeCorner2.ViewModels.ReservationsViewModel

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}


<div class="row mt-5">
    <div class="col-lg-8">
        <img class="rounded image-details" src="..\..\HouseImages\@Model.House.ImageName" alt="@Model.House.Title" />
    </div>
    <div class="col-lg-4">
        <h4>@Html.DisplayFor(model => model.House.Title)</h4>
        <hr />
        <dl class="dl-horizontal">

            @Html.Partial("_HousesDataTable", Model.House)

            <dt>
                Adress
            </dt>

            <dd>
                @Html.DisplayFor(model => model.House.Region.RegionName), @Html.DisplayFor(model => model.House.PostalCode)
                <br />
                @Html.DisplayFor(model => model.House.Address) @Html.DisplayFor(model => model.House.AddressNumber),
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AllFeatures)
            </dt>

            @if (Model.SelectedFeatures == null)
            {
                <dd>No Features</dd>
            }
            else
            {

                foreach (var feature in Model.House.Features)
                {
                    <dd>
                        @Html.DisplayFor(model => feature.Feature)
                    </dd>
                }
            }

            <dt>
                Reservation
            </dt>
            <dt class="col-md-10">
                @Html.EditorFor(model => model.Reservation.StartDate, new { htmlAttributes = new { placeholder = "From", @class = "form-control", id = "StartDate" } })
                @Html.ValidationMessageFor(model => model.Reservation.StartDate, "", new { @class = "text-danger" })
            </dt>
            <dt class="col-md-10 mt-2">
                @Html.EditorFor(model => model.Reservation.EndDate, new { htmlAttributes = new { placeholder = "To", @class = "form-control", id = "EndDate" } })
                @Html.ValidationMessageFor(model => model.Reservation.EndDate, "", new { @class = "text-danger" })
            </dt>
            
            <dt>
                @Html.ActionLink("Book Now", "Book", new { id = Model.House.Id }) |
                @Html.ActionLink("Back to List", "Index")

            </dt>
        </dl>
    </div>
</div>
