@using Microsoft.AspNet.Identity
@model IEnumerable<HomeCorner2.Models.Reservation>

@{
    /**/

    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<p>
    <h2> <span class="float-right">House Reservations</span></h2>
</p>
<hr />
<div class="table-responsive">
    <table id="reservations" class="table table-sm">
        <thead>
            <tr class="titles">
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Arrival Date
                </th>
                <th>
                    Departure date
                </th>
                <th>
                    Renter's Email
                </th>
                <th> </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Cancel", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger", role = "button" })
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>