@model IEnumerable<HomeCorner2.Models.House>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}


<div class="jumbotron mt-3">
    @using (Html.BeginForm("Index", "Houses", FormMethod.Get))
    {
        <div>Search Option:</div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "Region", new { htmlAttributes = new { @class = "form-check-input" } })Region
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "Occupancy", new { htmlAttributes = new { @class = "form-check-input" } })Occupancy
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "StartDate", new { htmlAttributes = new { @class = "form-check-input" } })Arrival Date
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.TextBox("search")
                <button type="submit" class="btn btn-dark" name="Search">Search</button>
            </label>
        </div>

        //the following are search options
        @*<b> Search Option: </b> @Html.RadioButton("option", "Region") <text>Region</text> @Html.RadioButton("option", "Occupancy")<text>Occupancy</text>
            @Html.RadioButton("option", "StartDate")<text>Start Date</text> @Html.TextBox("search")<input type="submit" name="submit" value="Search" />*@
    }
</div>

@if (Model.Count() == 0)
{<p colspan="3" class="text-danger">Records not found </p>
}

@if (User.IsInRole("CanManageHouses"))
{
    <hr />
    <p>
        <span class="float-right">@Html.ActionLink("Create New", "Create")</span>
    </p>
    <table id="houses" class="table">
        <thead>
            <tr class="titles">
                <th>
                    Image
                </th>
                <th>
                    Title
                </th>
                <th>
                    Address
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Owner's Email
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr> <td colspan="3"> Records not found </td></tr>
                }
                    <tr>
                        <td>
                            <img src="..\..\HouseImages\@item.ImageName" class="img-thumbnail" height=50 width=100 />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region.RegionName),<br />@Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.AddressNumber)
                        </td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.YourUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Book Now", "Book", new { id = item.Id })
                        </td>
                    </tr>
            </tbody>
        }
    </table>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="houses" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Images)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.RegionName)
                    </td>
                    <td>
                        <img src="..\..\HouseImages\@item.ImageName" class="img-thumbnail" height=50 width=100 />
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Book Now", "Details", new { id = item.Id })
                    </td>
                </tr>
            </tbody>
        }
    </table>
}
