@*@model IEnumerable<HomeCorner2.Models.House>*@
@model HomeCorner2.ViewModels.HousesViewModel

@{
    ViewBag.Title = "MyHouses";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h2>Houses</h2>

<p>
    @Html.ActionLink("Add House", "Create")
</p>
@*<table id="houses" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionName)
                </td>
                <td>
                    <img src="/Houses/RetrieveImage/@item.Id" alt="" height=100 width=200 />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Book for Me", "Book", new { id = item.Id })
                </td>
            </tr>
        </tbody>
    }

</table>*@

<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-9">
            <img class="rounded image-details" src="..\..\HouseImages\@item.ImageName" alt="@item.Title" />
        </div>
        <div class="col-lg-3">
            <h4>@item.Title</h4>
            <hr />
            <dl class="dl-horizontal">
                @*@Html.Partial("_HousesDataTable", Model.House)*@
                <dt>
                    Address
                </dt>
                <dd>
                    @item.Region.RegionName, @item.PostalCode
                    <br />
                    @item.Address @item.AddressNumber,
                </dd>
                <dt>
                    Maximum Occupancy
                </dt>
                <dd>
                    @item.Occupancy
                    @if (@item.Occupancy <= 1)
                    {
                        <span>Person</span>
                    }
                    else
                    {
                        <span>Persons</span>
                    }
                </dd>
                <dt>
                    Price/Night
                </dt>
                <dd>
                    @item.Price€
                </dd>
                <dt>
                    Extra Features
                </dt>
                @if (Model.SelectedFeatures == null)
                {
                    <dd>No Features</dd>
                }
                else
                {
                    foreach (var feature in item.Features)
                    {
                        <dd>
                            @Html.DisplayFor(model => feature.Feature)
                        </dd>
                    }
                }
                <dt>
                    Description
                </dt>
                <dd>
                    @item.Description
                </dd>
                <dt>
                    @if (User.IsInRole("CanManageHouses"))
                    {
                        @Html.ActionLink("Back to List", "Index")
                        @Html.ActionLink("Edit", "Edit", new { id = Model.House.Id, @class = "btn btn-dark" })
                        @Html.ActionLink("Book Now", "Book", new { id = Model.House.Id, @class = "btn btn-dark" })
                    }
                    else
                    {
                        @Html.ActionLink("Back to List", "Index")
                        @Html.ActionLink("Book Now", "Book", new { id = Model.House.Id, @class = "btn btn-dark" })
                        @*<button class="btn btn-dark" data-toggle="modal" data-target="#reservationModal"">
                               Book Now!
                            </button>*@
                    }
                </dt>

            </dl>
        </div>
    }
</div>

