@model IEnumerable<HomeCorner2.Models.House>
@*@model HomeCorner2.ViewModels.HousesViewModel*@

@{
    ViewBag.Title = "MyHouses";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<hr />
<h2 class="mt-2">My Houses</h2>
<p>
    <span class="">@Html.ActionLink("Add House", "Create", new { id = "addnewhouse" })</span>
</p>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-6 d-flex justify-content-center mb-md-3 mb-sm-3 mb-3">
            <div class="card home-cards h-100">
                <div class="card-avatar">
                    <img class="card-img-top" src="..\HouseImages\@item.ImageName" alt="@item.Title">
                </div>
                <div class="card-body card-block d-flex flex-column">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)€</p>
                    <input type="button" class="btn btn-dark text-truncate mt-auto" value="More Details" onclick="redirectToDetails(@item.Id);" />
                </div>
            </div>
        </div>
    }
</div>

<script>
    function redirectToDetails(houseId) {
        document.location = '../Houses/Details/' + houseId;
    }
</script>

