@model IEnumerable<HomeCorner2.Models.Reservation>
@{
    /**/

    ViewBag.Title = "MyReservations";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
@Html.ActionLink("Book Now!", "Search", "Houses", new { area = "" }, new { InputType = "button", @class = "mt-3 btn btn-block btn-dark" })
<hr />
<h2 class="mt-2">My Reservations</h2>
<hr />

@foreach (var item in Model)
{
    <div class="row mb-3">
        <div class="col-lg-6">
            <img class="rounded img-thumbnail image-reservations" src="..\..\HouseImages\@item.House.ImageName" alt="@item.House.Title" />
        </div>
        <div class="col-lg-6">
            @item.House.Title
            <hr />
            <div>
                <label class="information-labels">Booked</label><br />
                <span class="mr-2">From:</span>@item.StartDate.Date<br />
                <span class="mr-4">To:</span>@item.EndDate.Date
            </div>
            <label class="information-labels">Location</label>
            <div>
                @item.House.Address @item.House.AddressNumber,<br />
                @item.House.PostalCode, @*@item.House.Region.RegionName*@
            </div>
            <label class="information-labels">Payment</label><br />
            <div>
                @item.House.Price€/Night
            </div>
            <hr />
            <div>
                @Html.ActionLink("Details", "Details", new { id = item.House.Id }, new { @class = "btn btn-outline-secondary", role = "button" })
                @Html.ActionLink("Cancel", "Delete", new { id = item.House.Id }, new { @class = "btn btn-outline-danger", role = "button" })
            </div>
        </div>
    </div>
    <hr />
}
