@model IEnumerable<HomeCorner2.Models.Reservation>
@{
    /**/

    ViewBag.Title = "MyReservations";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
@Html.ActionLink("Book Now!", "Search", "Houses", new { area = "" }, new { InputType = "button", @class = "mt-3 btn btn-block button-custom-color" })
<hr />
<h2 class="mt-2">My Reservations</h2>
<hr />

@foreach (var item in Model)
{
    <div class="row mb-3">
        <div class="col-lg-6">
            <img class="rounded img-thumbnail image-reservations" src="..\..\HouseImages\@item.House.ImageName" alt="@item.House.Title" />
        </div>
        <div class="col-lg-6">
            @item.House.Title
            <hr />
            <div>
                <label class="information-labels">Booked</label><br />
                <span class="mr-2">From:</span>@item.StartDate.Date<br />
                <span class="mr-4">To:</span>@item.EndDate.Date
            </div>
            <label class="information-labels">Location</label>
            <div>
                @item.House.Address @item.House.AddressNumber,<br />
                @item.House.PostalCode, @*@item.House.Region.RegionName*@
            </div>
            <label class="information-labels">Payment</label><br />
            <div>
                @item.House.Price€/Night
            </div>
            <hr />
            <div>
                @Html.ActionLink("Details", "Details", new { id = item.House.Id }, new { @class = "btn btn-outline-secondary btn-sm", role = "button" })
                <button type="button" class="btn btn-outline-danger btn-sm show-delete-modal-button" data-url="@Url.Action("Cancel", "Houses", new { id = item.Id}, Request.Url.Scheme)">Delete</button>
            </div>
        </div>
    </div>
    <hr />
}

<div class="container">
    <!-- The Modal -->
    <div class="modal" id="deleteReservationModal" data-url="">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Reservation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure about canceling this reservation?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn danger-button delete-reservation-button">Yes</button>
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <script>
        var $deleteToggleButton = $('.show-delete-modal-button');
        var $deleteReservationModal = $('#deleteReservationModal');

        $(document).ready(function (event) {
            $deleteToggleButton.on('click', function(event) {
                event.preventDefault();
                $deleteReservationModal.data('url', $(this).data('url'));
                $deleteReservationModal.modal('show');
            });

            $('.delete-reservation-button').on('click', function (event)
    {
                event.preventDefault();

                var request = $.ajax({
                    url: $deleteReservationModal.data('url'),
                    method: 'POST',
                    data:
                    {
                        '__RequestVerificationToken': '@TokenHeaderValue()'
                    },
                    dataType: 'json',

                });
                request.done(function(data, textStatus, jqXHR) {
                    if (data.Status == 'ok')
                    {
                        alert('Canceled successfully.');
                        location.reload();
                    }
                    else
                    {
                        alert(data.Error);
                    }
                });
                request.fail(function(jqXHR, textStatus, errorThrown) {
                    alert('Request failed: ' + textStatus);
                });
            });
        });
    </script>
}
