@model IEnumerable<HomeCorner2.Models.Reservation>
@{
    ViewBag.Title = "MyReservations";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h2>MyReservations</h2>
<table id="reservations" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House.Images)
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.House.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @*<img src="/HouseImages/@item.House.Id" alt="" height=100 width=200 />*@
                </td>
                <td>
                    @Html.ActionLink("Cancel", "Cancel", new { id = item.Id })
                </td>
            </tr>
        </tbody>
    }
</table>