@model IEnumerable<HomeCorner2.Models.House>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<div class="jumbotron mt-3">
    @using (Html.BeginForm("Search", "Houses", FormMethod.Get))
    {
        //<div class="d-flex justify-content-center flex-sm-column">
            <div class="titles mr-2">Search Option:</div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButton("option", "Region", new { htmlAttributes = new { @class = "form-check-input" } })Region
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButton("option", "PostalCode", new { htmlAttributes = new { @class = "form-check-input" } })Postal Code
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButton("option", "Occupancy", new { htmlAttributes = new { @class = "form-check-input" } })Occupancy
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    @Html.RadioButton("option", "Price", new { htmlAttributes = new { @class = "form-check-input" } }) Price
                </label>
            </div>
       //</div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "StartDate", new { htmlAttributes = new { @class = "form-check-input" } })Arrival Date
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "EndDate", new { htmlAttributes = new { @class = "form-check-input" } }) Departure Date
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                @Html.RadioButton("option", "AllHouses", new { htmlAttributes = new { @class = "form-check-input" } }) All Home Corners
            </label>
        </div>
        <div class="form-check-inline d-flex justify-content-center">
            <label class="form-check-label">
                @Html.TextBox("search")
                <button type="submit" class="btn button-custom-color btn-sm" name="Search">Search</button>
            </label>
        </div>

        //the following are search options
        @*<b> Search Option: </b> @Html.RadioButton("option", "Region") <text>Region</text> @Html.RadioButton("option", "Occupancy")<text>Occupancy</text>
            @Html.RadioButton("option", "StartDate")<text>Start Date</text> @Html.TextBox("search")<input type="submit" name="submit" value="Search" />*@
    }
</div>

@if (Model.Count() == 0)
{<p colspan="3" class="text-danger">Records not found </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-6 d-flex justify-content-center mb-md-3 mb-sm-3 mb-3">
            <div class="card home-cards h-100">
                <div class="card-avatar">
                    <img class="card-img-top" src="..\HouseImages\@item.ImageName" alt="@item.Title">
                </div>
                <div class="card-body card-block d-flex flex-column">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)€</p>
                    <input type="button" class="btn button-custom-color text-truncate mt-auto" value="More Details" onclick="redirectToDetails(@item.Id);" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    function redirectToDetails(houseId) {
        document.location = '../Houses/Details/' + houseId;
    }
</script>